---
title: "Subtle Header"
description: "Slight movements based on mouse position."
layout: layouts/demo.njk
pageCSS: 'content/demos/subtle-header/subtle-header.css'
pageJS: 'content/demos/subtle-header/subtle-header.js'
permalink: "/subtle-header/"
tags:
  - demo
  - javascript
---

<div class="c-hero">
    <div class="c-hero__content js-hero-mousemove">
        <div class="c-hero__text js-hero-text">
            <h1 class="c-hero__title">The Agency</h1>
            <p class="c-hero__subtitle">High-End Speciality Design and Development</p>
        </div>

        <img src="/img/hero-photoshoot.jpeg" alt="Studio ready for a photoshoot" class="c-hero__image js-hero-image" />
    </div>
</div>
